<ejs-grid 
[dataSource]="data" [allowPaging]="true" [pageSettings]="pageSettings" [allowSorting]="true" [allowFiltering]="true"
[editSettings]="editSettings" [toolbar]="toolbar" [filterSettings]="filterSettings"
>
  <e-columns>
    <e-column field="id" headerText="ID" ></e-column>
    <e-column field="employee_name" headerText="Employee Name" ></e-column>
    <e-column field="employee_salary" headerText="Employee Salary" ></e-column>
    <e-column field="employee_age" headerText="Employee Age" ></e-column>
    <!-- <e-column field="CustomerID" headerText="Customer ID"></e-column>
    <e-column field="OrderDate" headerText="Order Date" format="yMd"></e-column> -->
  </e-columns>
</ejs-grid>

<router-outlet></router-outlet>